*{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
}

body{
	background: #FF890D;
	margin: 0 auto;
}

ul{
	padding: 0px;
}

.contactForm{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
}


input, button{
	width: 25%;
	margin: 10px auto;
}

input{
	border: 2px solid red;
	font-size: 20px;
	text-align: center;

}

button{
	width: 12.5%;
	background: blue;
	color: white;
	border: none;
	width: 150px;
	height: 50px;
	font-size: 25px;
}


.contactItem{
	
  width: 25%;
  margin: 10px auto;
  padding: 7px;
  border: 1px solid white;

}

.contactImage{
	padding-top: 20px;
	width: 20%;
	float: left;
}

.counter{
	text-align: center;
}


